.cards {
  display: flex;
  padding: 70px 70px 10px;
  max-width: 1280px;
  box-sizing: border-box;
  width: 100%;
}

.cards__list {
  min-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (max-width: 800px) {
  .cards {
    padding: 60px 30px 10px;
  }
}