.portfolio {
  padding: 0 70px 125px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

.portfolio__title {
  font-size: 18px;
  color: #A0A0A0;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 50px;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__link {
  display: flex;
  text-decoration: none;
  color: #000;
  justify-content: space-between;
}
.portfolio__element {
  border-bottom: 1px #E8E8E8 solid;
}

.portfolio__list:last-child {
  border-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 0 50px 90px;
  }
}

@media screen and (max-width: 470px) {
  .portfolio {
    padding: 0 14px 70px;
  }
}