.filter {
  display: flex;
  align-items: center;
}

.filter__checkbox {
  position: relative;
  z-index: -1;
  opacity: 0;
  width: 0;
}

.filter__checkbox + .filter__label {
  position: relative;
  cursor: pointer;
}
.filter__checkbox + .filter__label:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  background: #CDD1DA;
  transition: .2s;
}
.filter__checkbox + .filter__label:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #FFF;
  transition: .2s;
}
.filter__checkbox:checked + .filter__label:before {
  background: #2BE080;
}
.filter__checkbox:checked + .filter__label:after {
  left: 21px;
}

.filter__name {
  margin: 0 14px 0 41px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}