.about {
  color: #000;
  padding: 110px 70px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.about__title {
  font-size: 22px;
  min-height: 50px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 70px;
  width: 100%;
}

.about__text-block {
  width: 50%;
}

.about__sub-title {
  font-size: 20px;
  font-weight: 400;
}

.about__text {
  font-size: 14px;
  font-weight: 400;
}

.about__progress {
  display: flex;
  width: 100%;
  font-size: 14px;
}

.about__progress-backend {
  min-width: 30%;
}

.about__blocks {
  display: flex;
  width: 100%;
  margin-bottom: 110px;
}

.about__progress-backend-bar {
  background-color: #000;
  color: #FFF;
  min-height: 36px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 14px;
  text-align: center;
  align-items: center;
}

.about__progress-frontend {
  min-width: 70%;
}

.about__progress-frontend-bar {
  background-color: #F2F2F2;
  color: #000;
  min-height: 36px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 14px;
  text-align: center;
  align-items: center;
}

.about__progress-caption {
  color: #A0A0A0;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 90px 50px;
  }

  .about__blocks {
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 70px 14px;
  }

  .about__text {
    font-size: 11px;
  }

  .about__sub-title {
    font-size: 18px;
  }

  .about__title {
    font-size: 18px;
    min-height: 40px;
    margin-bottom: 60px;
  }

  .about__text-block {
    margin-bottom: 56px;
  }

  .about__text-block:last-child {
    margin-bottom: 0px;
  }

  .about__blocks {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .about__progress {
    font-size: 11px;
  }

  .about__progress-caption {
    font-size: 11px;
  }
}