.footer {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

.footer__title {
  font-size: 13px;
  color: #A0A0A0;
  font-weight: 300;
  margin: 0;
  text-align: center;
  justify-items: center;
  padding: 79px 0 20px;
}

.footer__copyright {
  border-top: 1px solid #E8E8E8;
  padding: 20px 0;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer_text {
  margin: 0;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__link {
  margin-right: 20px;
}

.footer__links:last-child {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    padding: 0 14px;
  }

  .footer__copyright {
    font-size: 12px;
    flex-direction: column-reverse;
    padding: 10px 0;
  }

  .footer__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 18px;
  }

  .footer__link {
    margin: 12px 0 0;
  }

  .footer__link:first-child {
    margin-top: 0;
  }

  .footer__text {
    font-size: 12px;
    color: #A0A0A0;
  }
}