.more {
  display: flex;
  padding: 50px 70px 80px;
  max-width: 1280px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
}

.more__btn {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  padding: 0;
}